<div id="<%= dom_id stock %>">
  <p>
    <strong>Product:</strong>
    <%= stock.product.name %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= stock.size %>
  </p>

  <p>
    <strong>Piece:</strong>
    <%= stock.piece %>
  </p>

</div>
