<div id="<%= dom_id stock %>">
  <p>
    <strong>Color:</strong>
    <%= stock.color.name %>
  </p>
  <p>
    <strong>Size:</strong>
    <%= stock.size %>
  </p>

  <p>
    <strong>Piece:</strong>
    <%= stock.piece %>
  </p>

</div>
