<h1 class="text-xl text-center text-slate-800 font-bold">New stock</h1>

<%= render "form", stock: @stock %>

<br>

<div>
  <%= link_to "Back to stocks", admin_product_color_stocks_path(@product, @color) %>
</div>
