<div class="md:grid grid-cols-2 p-3">
<div id="privacy-policy" class="relative bg-white overflow-hidden mt-16">
    <div class="max-w-7xl mx-auto">
        <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
            <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
                fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                <polygon points="50,0 100,0 50,100 0,100"></polygon>
            </svg>

            <div class="pt-1"></div>

            <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                <div class="sm:text-center lg:text-left">
                    <h2 class="my-6 text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-4xl">
                        Privacy Policy
                    </h2>

                    <p class="text-lg text-gray-700">
                        At Xark Fashion, we take your privacy seriously. This Privacy Policy outlines how we collect, use, disclose, and safeguard your personal information when you visit our website or use our services.<br><br>

                        By accessing our website or utilizing our services, you consent to the terms of this Privacy Policy. We may update this Privacy Policy from time to time, and it is your responsibility to review this Policy periodically for any changes. Your continued use of our website or services after any modifications to this Privacy Policy constitutes acceptance of those changes.<br><br>

                        <strong>Information We Collect</strong><br>
                        When you visit our website or use our services, we may collect personal information that you provide voluntarily. This information may include but is not limited to:<br>
                        - Name<br>
                        - Email address<br>
                        - Phone number<br>
                        - Address<br>
                        - State/Province<br>
                        - Zip/Postal code<br>
                        - City<br><br>

                        <strong>How We Use Your Information</strong><br>
                        We may use the information we collect in the following ways:<br>
                        - To process and fulfill orders you place through our website.<br>
                        - To communicate with you regarding your orders, inquiries, and requests.<br>
                        - To provide customer support and address any concerns you may have.<br>
                        - To send you promotional offers, newsletters, and marketing communications.<br>
                        - To improve our products, services, and website functionality.<br>
                        - To comply with legal obligations and enforce our policies.<br><br>

                        <strong>Disclosure of Your Information</strong><br>
                        We may disclose your personal information to third parties only in the following circumstances:<br>
                        - To service providers and vendors who assist us in operating our website and providing our services.<br>
                        - To comply with legal requirements, such as responding to subpoenas, court orders, or legal processes.<br>
                        - To protect our rights, property, or safety, and that of others.<br>
                        - With your consent or at your direction.<br><br>

                    </p>
                </div>
            </main>
        </div>
    </div>
  </div>

  <div id="about" class="relative bg-white overflow-hidden mt-16">
      <div class="max-w-7xl mx-auto">
          <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
              <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
                  fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                  <polygon points="50,0 100,0 50,100 0,100"></polygon>
              </svg>

              <div class="pt-1"></div>

              <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                  <div class="sm:text-center lg:text-left">
                      <h2 class="my-6 text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-4xl">
                          Purchase Policy
                      </h2>

                      <p class="text-lg text-gray-700">
                          <strong>Refund and Exchange Policy</strong><br>
                          Please be informed that all orders are non-refundable. However, exchanges are permitted under specific conditions. For any inquiries or assistance regarding your orders, feel free to reach out to us using the contact details below.<br><br>
                          
                          <strong>Email:</strong> <a href="mailto:kmbabajan0786@gmail.com" class="text-blue-500">kmbabajan0786@gmail.com</a><br>
                          <strong>Phone:</strong> <a href="tel:+13473762228" class="text-blue-500">+1 (347) 376-2228</a>
                      </p>
                  </div>
              </main>
          </div>
      </div>
      <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
          <img class="h-56 w-full object-cover object-top sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://5.imimg.com/data5/SELLER/Default/2023/3/295134306/YZ/TG/RY/527778/designer-party-wear-stylish-men-kurta-pyjama.jpg" alt="">
      </div>
  </div>
</div>