<h1 class="text-center text-xl font-bold text-slate-800">Welcome, <%= @order.name %>!</h1>
<p class="text-slate-700 text-lg">Thank you for ordering. We have recieved your order!</p>

<p class="text-slate-700 text-lg">You Can Track Your Order From The Website in 'Track Your Order' Section.</p>
<p class="text-slate-700 text-lg">Your Order ID: <%= @order.id %></p>
<p class="text-slate-700 text-lg">Your Email: <%= @order.email %></p>
