<h1 class="text-center text-xl text-slate-800 font-bold">New color for <%= @product.name %></h1>

<%= render "form", color: @color %>

<br>

<div>
  <%= link_to "Back to colors", admin_product_colors_path(@product) %>
</div>
