<h1 class="text-center font-extrabold text-slate-700 text-2xl my-4">Editing product</h1>

<%= render "form", product: @product %>



<div>
  <%= link_to "Back to products", admin_products_path, class:"bg-gray-500 text-white px-2 py-1 hover:bg-gray-600" %>
</div>
